@use '../../styles/constants/colors';

.navigation {
  position: fixed;
  left: 100px;
  width: 260px;
  height: 100vh;

  @media screen and (max-width: 1440px) {
    left: 0;
  }

  @media screen and (max-width: 1050px) {
    position: relative;
    left: 0;
    width: auto;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 110px;
  }

  .logo {
    width: 260px;
    height: 130px;

    @media screen and (max-width: 1050px) {
      display: none;
    }

    @media screen and (max-width: 768px) {
      display: inline-block;
      width: 220px;
      height: 100px;
    }
  }

  .smallNavigation {
    display: flex;
    flex-direction: column;

    .hamburgerIcon {
      width: 25px;
      height: 25px;
      margin-right: 30px;
      cursor: pointer;
    }

    .showGNB {
      position: fixed;
      top: 3px;
      right: 0;
      z-index: 100;
      display: inline-block;
      transition: right 0.2s linear;
    }

    .unShowGNB {
      position: fixed;
      top: 3px;
      right: -180px;
    }
  }
}
