@use '../../styles/constants/colors';

.navigation {
  width: 260px;
  height: 100vh;
  background: colors.$GRAY_100;

  .logo {
    width: 260px;
    height: 150px;
  }

  .navigationList {
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
    color: colors.$GRAY_800;

    li {
      padding-bottom: 30px;
    }
  }
}
